<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Result</title>
	<link rel="stylesheet" href="/style.css" type="text/css">
</head>

<body>
	<h1>Translation Result</h1>
	<div>
		<strong>Orignal: </strong><%- input %><br>
		<strong>Translation: </strong><%- output %><br>
	</div>
	<br><br>
    <a href="<%- home %>">Translate again</a>
</body>

</html>
